/*GENERAL*/
body
{
    background-image:url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.9;       
}

a
{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

footer
{
	height: 50px;
}

.container90
{
	width: 90%;
	margin: auto;
}

.container40
{
	width: 40%;
	margin: auto;
}

.hidden
{
	display: none;
}



/*LANDING PAGE*/
.landing
{
	height: 500px;
	border-radius: 10px;
}

.landing h1
{
	padding: 20px;
}

.content
{
	padding: 20px;
}

.footnote
{
	padding: 20px;
	font-size: 15px;
	color: #ccc;
}

.landing a:hover
{
	color: yellow;
}




/*NAVBAR*/
.fsz12
{
	font-size: 12px !important;
}

.search
{
	margin-top: 10px !important;
}

.searchBar
{
	padding: 10px !important;
}



/*POST*/
.timestamp
{
	font-size: 12px;
	color: #ccc;
}

.thumbs-up
{
	font-size: 20px;
	margin-left: 10px;
}



/*ASK*/
.quote
{
	font-size: 50px !important;
}

.marginBottom0
{
	margin-bottom: 0 !important;
}